.center-text {
    margin: auto;
    padding-top: 50px;
    width: 80%;
}
.icon-size {
    font-size: 150px;
}
.center {
    margin: auto;
    width: 1%;
}
.sub-text {
    color: rgb(100, 100, 100);
}