<div class="container service-page">
    <div class="row">
        <div class="col"> <!-- LEFT -->
            <div class="code-service-l service-block center-text">
                <h3>Web Developer</h3>
                <p class="sub-text">
                    I can provide you with a website, such as a personal website, 
                    a commercial website, a school administration web application, and so on.
                </p>
            </div>
            <div class="photography-service-l service-block">
                <div class="center">
                    <fa-icon [icon]="faCamera" class="icon-size"></fa-icon>
                </div>
            </div>
            <div class="code-service-software-l center-text">
                <h3>Software Developer</h3>
                <p class="sub-text">
                    I can provide you with a website, such as a personal website, 
                    a commercial website, a school administration web application, and so on.
                    There is also a desktop application system. 
                </p>
            </div>
        </div>
        <div class="col"> <!-- RIGHT -->
            <div class="code">
                <div class="code-service-r service-block">
                    <div class="center">
                        <fa-icon [icon]="faCode" class="icon-size"></fa-icon>
                    </div>
                </div>
                <div class="photography-service-r service-block center-text">
                    <h3>Photographer</h3>
                    <p class="sub-text">
                        Hire me as a photographer for a birthday celebration, a pre-nuptial and post-nuptial agreement, or a wedding.
                    </p>
                </div>
            </div>
            <div class="code-service-software-r service-block">
                <div class="center">
                    <fa-icon [icon]="faLaptopCode" class="icon-size"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>