<br><br>
<div class="container padding-container remove_400px">
    <div class="content right">
        <div class="row">
            <div class="col left padding-container">
                <br>
                <h1>Amilbangsa Asaad</h1>
                <br>
                <p class="sub-text">Hello there, I am a recent graduate of 
                    Mindanao State University Tawi-Tawi College of Technology
                    and Oceanography with a Bachelor of Science in Information
                    Technology and am currently employed as a backend developer
                    at Xupas Incorporation. 
                </p>
                <div class="button-call">
                    <div class="content-call">
                        <a (click)="open(content)">Talk with me ?
                        <fa-icon class="icon" [icon]="faPhone" ></fa-icon>
                        </a> 
                    </div>
                </div>
            </div>
            <div class="col no-padding remove_995px">
                <div class="image">
                    <img src="/assets/images/IMG_94761_REDUCED.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <form class="was-validated modal-body">
        <div class="col-md-12">
            <label for="validationServer01" class="form-label">Email</label>
            <input type="text" name="email" class="form-control is-valid email-text" id="validationServer01"
                placeholder="Enter your email ..." required>
        </div>
        <br>
        <div class="col-md-12">
            <label for="validationServer01" class="form-label">Subject</label>
            <input type="text" name="subject" class="form-control is-valid subject-text" id="validationServer01"
                required>
        </div>
        <br>
        <div class="mb-3">
            <label for="validationTextarea" class="form-label">Message</label>
            <textarea name="message" class="form-control is-valid message-text" id="validationTextarea"
                placeholder="Enter your message ..." style="height: 150px;" required></textarea>
        </div>

        <div class="mb-3">
            <button class="btn btn-danger" click="sendEmail()" type="submit" style="width: 100%;">Send</button>
        </div>
    </form>
</ng-template>