<br><br>
<div class="container padding-container">
    <div class="content right">
        <div class="row">
            <div class="col left padding-container">
                <br>
                <h1>Amilbangsa Asaad</h1>
                <br>
                <p class="sub-text">Hello there, I am a recent graduate of 
                    Mindanao State University Tawi-Tawi College of Technology
                    and Oceanography with a Bachelor of Science in Information
                    Technology and am currently employed as a backend developer
                    at Xupas Incorporation. 
                </p>
                <div class="button-call">
                    <div class="content-call">
                        <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJqTfVPvDgTzMbkHRnCZsHxvLQBrJrRXfThxfmZDjrfGfxJlBJchGrkrMGQZxgwHbpQLxvq" target="_blank" class="btn-call">Wanna talk with me ? 
                            <fa-icon class="icon" [icon]="faPhone" ></fa-icon>
                        </a> 
                    </div>
                </div>
            </div>
            <div class="col no-padding">
                <div class="image">
                    <img src="/assets/images/IMG_94761_REDUCED.png" />
                </div>
            </div>
        </div>
    </div>
</div>