<div class="container-customize">
    <div class="row nav">
        <div class="col width-50">
            <!-- <div class="logo"><i class="bi bi-person-circle"></i></div> -->
        </div>
        <div class="col width-50 nav-placer">
            <div class="nav-button-placer">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/experience">Experience</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row content">
    <div class="inner-content">
        <div *ngFor="let d of data" class="row content-data d-flex justify-content-end">
            <div class="row" *ngIf="d.headerPlace == 'left'">
                <div class="col">
                    <h4>{{ d.header1 }}</h4>
                    <h2>{{ d.header2 }}</h2>
                </div>
                <div class="col n-line  width-50">
                    <p>{{ d.message }}</p>
                </div>
            </div>
            <div class="row" *ngIf="d.headerPlace == 'right'">
                <div class="col d-flex justify-content-start">
                    <p>{{ d.message }}</p>
                </div>
                <div class="col width-50">
                    <h4>{{ d.header1 }}</h4>
                    <h2>{{ d.header2 }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>