<div class="container-customize">
    <div class="row nav">
        <div class="col width-50">
            <!-- <div class="logo"><i class="bi bi-person-circle"></i></div> -->
        </div>
        <div class="col width-50 nav-placer">
            <div class="nav-button-placer">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/experience">Experience</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="secondary-header d-flex justify-content-center align-items-center">
    <div class="sec-header-data">
        <h6>Open the Door to Opportunities: Contact Me and Let's Bring Your Visions to Life!</h6>
        <h1>Your Ideas, My Expertise!</h1>
    </div>
</div>
<div class="row content">
    <div class="row d-flex justify-content-end">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="content-data">
                    <form>
                        <div class="form-group"><input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="Email address">
                        </div>
                        <div class="form-group"><input type="text" class="form-control" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="button" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="content-data">
                    <p>Let's create something extraordinary, fueled by the energy of collaboration. 
                    <b>Your ideas are the seeds</b>, and <b>my expertise is the nurturing soil that brings 
                        them to life</b>. From brainstorming to execution, we'll craft an experience that 
                    leaves a lasting impact.</p>    
                </div>
                <div class="row additional-contact-info">
                    <div class="col d-flex align-items-center">
                        <a [title]="contactNumber"><i class="bi bi-telephone-fill"></i></a>
                    </div>
                    <div class="col d-flex align-items-center">
                        <a href="https://github.com/amilasaad" target="_blank"><i class="bi bi-github"></i></a>
                    </div>
                    <div class="col d-flex align-items-center">
                        <a href="https://www.linkedin.com/in/amilbangsa-asaad-126a13197/" target="_blank"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>