<nav class="navbar navbar-expand-lg navbar-light nav-bar-amil remove_995px" style="width: 99vw;">
  <!--<label class="navbar-brand web-name" for="dropdownMenuButton1">A<span>a</span></label>-->
  <div class="dropdown">
    <a class="navbar-brand web-name" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">A<span>a</span></a>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#home">Home</a></li>
      <li><a class="dropdown-item" href="#service">Services</a></li>
      <li><a class="dropdown-item" (click)="open(content)" target="_blank">Contact me</a></li>
      
      <li><a class="dropdown-item">Accounts</a></li>
      <li><a class="dropdown-item" href="https://www.linkedin.com/in/amilbangsa-asaad-126a13197/" target="_blank"><span style="margin-left: 15%;"></span> - LinkedIn</a></li>
      <li><a class="dropdown-item" href="https://www.facebook.com/profile.php?id=100031939518493" target="_blank"target="_blank"><span style="margin-left: 15%;"></span> - Facebook</a></li>
      <li><a class="dropdown-item" href="https://github.com/amilasaad" target="_blank"><span style="margin-left: 15%;"></span> - Github</a></li>
    </ul>
  </div>

  <button class="navbar-toggler remove_995px" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mx-auto nav-link-amil">
      <a class="nav-item nav-link active" href="#home">Home</a>
      <!--<a class="nav-item nav-link" href="#portfolio">Portfolio</a>-->
      <a class="nav-item nav-link" href="#service">Services</a>
      <a class="nav-item nav-link" href="#about">About</a>
      <a class="nav-item nav-link contact-btn" (click)="open(content)" target="_blank">Contact me</a>
    </div>
    <div class="contact-icon">
      <div class="row">
        <div class="col-sm no-padding">
          <a href="https://www.linkedin.com/in/amilbangsa-asaad-126a13197/" target="_blank"><img
              src="assets/svg/linkedin-brands.svg" class="icon"></a>
        </div>
        <div class="col-sm no-padding">
          <a href="https://www.facebook.com/profile.php?id=100031939518493" target="_blank"><img
              src="assets/svg/facebook-square-brands.svg" class="icon"></a>
        </div>
        <div class="col-sm no-padding">
          <a href="https://github.com/amilasaad" target="_blank"><img src="assets/svg/github-square-brands.svg"
              class="icon"></a>
        </div>
      </div>
    </div>
  </div>
</nav>

<ng-template #content let-modal>
  <form class="was-validated modal-body" style="font-family: sans-serif">
      <br>
      <div class="modal-title">
          <label style="text-transform: uppercase; font-family: Roboto;"> send email </label>
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
              class="bi bi-chat-right-text-fill" 
              style="margin-left: -3px; margin-bottom: 48px; -webkit-transform: scaleX(-1);
              transform: scaleX(-1);"
              viewBox="0 0 16 16">
              <path
                  d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2zM3.5 3h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zm0 2.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zm0 2.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1z" />
          </svg>
      </div>
      <br>
      <div class="col-md-12">
          <label for="validationServer01" class="form-label">EMAIL</label>
          <input type="text" name="email" class="form-control is-valid email-text" id="validationServer01"
              placeholder="Enter your email ..." required>
      </div>
      <br>
      <div class="col-md-12">
          <label for="validationServer01" class="form-label">SUBJECT</label>
          <input type="text" name="subject" class="form-control is-valid subject-text" id="validationServer01"
              required>
      </div>
      <br>
      <div class="mb-3">
          <label for="validationTextarea" class="form-label">MESSAGE</label>
          <textarea name="message" class="form-control is-valid message-text" id="validationTextarea"
              placeholder="Enter your message ..." style="height: 150px;" required></textarea>
      </div>

      <div class="mb-3">
          <button class="btn btn-secondary" (click)="sendMail()" type="submit" style="width: 100%;">Send</button>
      </div>
  </form>
</ng-template>

<app-info-intro id="home"></app-info-intro>
<app-slides id="portfolio"></app-slides>
<app-service id="service"></app-service>
<app-about id="about"></app-about>