<div class="container-customize">
  <div class="row nav">
    <nav class="navbar remove-bg navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-customize remove-bg" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">EXPERTISE</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="row content glass">
    <div class="col intro-content">
      <div class="container">
        <div class="name-placer">
          <p>WELCOME TO MY WEBSITE</p>
          <h1>Hi, I'm AMIL ASAAD, a fullstack developer</h1>
        </div>
        <div class="intro-placer">
          <p>I specialize in creating dynamic and
            user-friendly web applications using the latest
            technologies. With years of experience under my belt, I have developed a deep understanding of the
            programming
            languages and
            frameworks needed to create robust web solutions that meet the needs of clients and end-use<span
              #dots>...</span><span #more class="more">rs alike.<br /><br />
              Throughout my career, I have had the opportunity to work on a wide variety of projects, from small
              startups
              to large enterprises. This has allowed me to hone my skills and develop a deep appreciation for the power
              of
              technology to transform the way we live and work. On this website, you will find a collection of my work,
              as
              well as some of my thoughts and insights on the latest trends in web development.
              <br /><br />
              Thank you for visiting, and I hope you enjoy exploring my website!
            </span></p>
        </div>
        <div class="row buttons-placer">
          <button #readMore (click)="readMoreFun()">Read more</button>
        </div>
      </div>
    </div>
    <div class="col intro-content">
      <img src="../assets/images/amil.png">
      <div class="gooey">
      </div>
    </div>
  </div>
</div>