<div class="container intro">
    <div class="row">
        <div class="col left-intro">
            <h4>Hello I am</h4>
            <h3>AMIL ASAAD</h3>
            <h5>Fullstack web developer and Photographer</h5>
            <p>
                A web developer who presently works as a backend developer 
                at Xurpas Incorporation and is also a freelance photographer. 
            </p>
            <a class="dload-btn" href="https://drive.google.com/file/d/1y-tvBuY6r2Brxq73a1eSkmJHLkb5AX1-/view?usp=sharing" target="_blank">Download Resume</a>
            <a class="hireMe-btn" href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJqTfVPvDgTzMbkHRnCZsHxvLQBrJrRXfThxfmZDjrfGfxJlBJchGrkrMGQZxgwHbpQLxvq" target="_blank">Hire me</a>
        </div>
        <div class="col right-intro">
            <img src="assets/images/IMG_96911.png" alt="image">
        </div>
    </div>
</div>