<div class="alert-modal-custom-size alert alert-success alert-dismissible fade show" role="alert">
    <p><strong>Hello ! </strong>This website is ongoing for development.</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="container intro padding_995px">
    <div class="row">
        <div class="col left-intro">
            <h4>Hello I am</h4>
            <h3>AMIL ASAAD</h3>
            <h5>Fullstack web developer and Photographer</h5>
            <p>
                A web developer who presently works as a backend developer
                at Xurpas Incorporation and is also a freelance photographer.
            </p>
            <br class="remove_400px-br">
            <a class="dload-btn"
                href="https://drive.google.com/file/d/1y-tvBuY6r2Brxq73a1eSkmJHLkb5AX1-/view?usp=sharing"
                target="_blank">Download Resume</a>
            <span></span>
            <a class="hireMe-btn" (click)="open(content)" target="_blank">Hire me</a>
        </div>
        <div class="col right-intro remove_995px">
            <img src="assets/images/IMG_96911_R.png" alt="image">
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <form class="was-validated modal-body" style="font-family: sans-serif">
        <br>
        <div class="modal-title">
            <label style="text-transform: uppercase; font-family: Roboto;"> send email </label>
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                class="bi bi-chat-right-text-fill" 
                style="margin-left: -3px; margin-bottom: 48px; -webkit-transform: scaleX(-1);
                transform: scaleX(-1);"
                viewBox="0 0 16 16">
                <path
                    d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2zM3.5 3h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zm0 2.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zm0 2.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1z" />
            </svg>
        </div>
        <br>
        <div class="col-md-12">
            <label for="validationServer01" class="form-label">EMAIL</label>
            <input type="text" name="email" class="form-control is-valid email-text" id="validationServer01"
                placeholder="Enter your email ..." required>
        </div>
        <br>
        <div class="col-md-12">
            <label for="validationServer01" class="form-label">SUBJECT</label>
            <input type="text" name="subject" class="form-control is-valid subject-text" id="validationServer01"
                required>
        </div>
        <br>
        <div class="mb-3">
            <label for="validationTextarea" class="form-label">MESSAGE</label>
            <textarea name="message" class="form-control is-valid message-text" id="validationTextarea"
                placeholder="Enter your message ..." style="height: 150px;" required></textarea>
        </div>

        <div class="mb-3">
            <button class="btn btn-secondary" (click)="sendMail()" type="submit" style="width: 100%;">Send</button>
        </div>
    </form>
</ng-template>