<div class="alert-modal-custom-size alert alert-success alert-dismissible fade show" role="alert">
    <p><strong>Hello ! </strong>This website is ongoing for development.</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="container intro padding_995px">
    <div class="row">
        <div class="col left-intro">
            <h4>Hello I am</h4>
            <h3>AMIL ASAAD</h3>
            <h5>Fullstack web developer and Photographer</h5>
            <p>
                A web developer who presently works as a backend developer
                at Xurpas Incorporation and is also a freelance photographer.
            </p>
            <a class="dload-btn"
                href="https://drive.google.com/file/d/1y-tvBuY6r2Brxq73a1eSkmJHLkb5AX1-/view?usp=sharing"
                target="_blank">Download Resume</a>
            <span></span>
            <a class="hireMe-btn" (click)="open(content)" target="_blank">Hire me</a>
        </div>
        <div class="col right-intro remove_995px">
            <img src="assets/images/IMG_96911_R.png" alt="image">
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <form class="was-validated modal-body">
        <div class="col-md-12">
            <label for="validationServer01" class="form-label">Email</label>
            <input type="text" name="email" class="form-control is-valid email-text" id="validationServer01"
                placeholder="Enter your email ..." required>
        </div>
        <br>
        <div class="col-md-12">
            <label for="validationServer01" class="form-label">Subject</label>
            <input type="text" name="subject" class="form-control is-valid subject-text" id="validationServer01"
                required>
        </div>
        <br>
        <div class="mb-3">
            <label for="validationTextarea" class="form-label">Message</label>
            <textarea name="message" class="form-control is-valid message-text" id="validationTextarea"
                placeholder="Enter your message ..." style="height: 150px;" required></textarea>
        </div>

        <div class="mb-3">
            <button class="btn btn-danger" (click)="sendMail()" type="submit" style="width: 100%;">Send</button>
        </div>
    </form>
</ng-template>