.width-50 {
    width: 50vw !important;
}

.nav {
    height: 5vh;
    margin-top: 1.7%;
}

.nav-placer {
    height: 6vh;
    margin-right: 4vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}