 .content {
   margin-left: 4%;
   margin-right: 4%;
   margin-top: 3%;
   height: 80vh;
   border-radius: 20px;
 }

 .remove-bg {
   background: none !important;
 }

 @import url('https://fonts.googleapis.com/css?family=Exo+2');

 * {
   margin: 0px;
   padding: 0px;
   box-sizing: content-box;
 }

 html,
 body {
   width: 100vw;
   height: 100vh;
   background: #0d0722;
 }

 body {
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   color: #fff;
   font-family: 'Exo 2';
   font-size: 24px;
   animation: fadeIn 500ms reverse;
 }

 .gooey {
   background-image: linear-gradient(120deg, #34e0f0 0%, #b400ff 100%);
   border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
   height: 65vh;
   width: 35vw;
   animation: morph 3s linear infinite;
   transform-style: preserve-3d;
   outline: 1px solid transparent;
   will-change: border-radius;
 }

 .gooey:before,
 .gooey:after {
   content: '';
   width: 100%;
   height: 100%;
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
   box-shadow: 5px 5px 89px rgba(0, 102, 255, 0.21);
   will-change: border-radius, transform, opacity;
   animation-delay: 200ms;
   background-image: linear-gradient(120deg, #06fca6 0%, #ef97ff 100%);
 }

 .gooey:before {
   animation: morph 3s linear infinite;
   opacity: .21;
   animation-duration: 1.5s;
 }

 .gooey:after {
   animation: morph 3s linear infinite;
   animation-delay: 400ms;
   opacity: .89;
   line-height: 300px;
   text-indent: -21px;
 }

 @keyframes morph {

   0%,
   100% {
     border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
     transform: translate3d(0, 0, 0) rotateZ(0.01deg);
   }

   34% {
     border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
     transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
   }

   50% {
     opacity: .89;
     transform: translate3d(0, 0, 0) rotateZ(0.01deg);
   }

   67% {
     border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
     transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
   }
 }

 @keyframes fadeIn {
   100% {
     transform: scale(1.03);
     opacity: 0;
   }
 }

 svg {
   height: 70vh;
 }

 .intro-placer {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .more {
   display: none;
 }

 .intro-content {
   padding-left: 5%;
   padding-right: 5%;
   display: flex;
   justify-content: start;
   align-items: center;
 }

 .buttons-placer {
   margin-top: 3%;
   width: 100%;
 }

 .button-bg-blue {
   margin: 1%;
   padding: 2.5% 1% 2.5%;
   font-size: 0.8em;
   color: white;
   width: 30%;
   background-color: rgb(68, 102, 255);
   border: none;
   border-radius: 60px;
 }

 .inverted-button-color {
   margin: 1%;
   padding: 2.5% 1% 2.5%;
   font-size: 0.8em;
   font-weight: 400;
   color: white;
   width: 30%;
   border: none;
   border-radius: 60px;
   background-color: rgb(56, 179, 131);
 }

 button:hover,
 .grey-hover:hover {
   background-color: #ffffff18 !important;
   backdrop-filter: blur(3px) !important;
 }

 h1 {
   font-weight: bolder;
   color: white;
 }

 img {
   bottom: 0;
   right: 15vw;
   height: 90vh;
   position: absolute;
   z-index: 1;
 }

 p {
   margin: 1%;
   color: rgb(226, 226, 226);
 }

 a {
   color: white;
   text-align: center;
   text-decoration: none;
 }

 .logo {
   background-color: red;
 }

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   width: inherit;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 li {
   margin-left: 5%;
   margin-right: 5%;
   transition: 0.5s;

   &:hover,
   &:active {
     border-radius: 50px;
     padding: 0.1% 4% 0.1%;
     background-color: #ffffff18 !important;
     backdrop-filter: blur(3px) !important;
   }
 }

 li a {
   display: block;
   padding: 8px;
 }

 .nav-button-placer {
   width: 100%;
 }

 .width-50 {
  width: 50vw !important;
}

.nav {
  height: 5vh;
  margin-top: 1.7%;
}

.nav-placer {
  height: 6vh;
  margin-right: 4vw;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}